ul#topMain li a {
  cursor: pointer;
}

.center {
  text-align: center;
}


#header.fixed {
  position: fixed;
  border-bottom: rgba(0, 0, 0, 0.08) 1px solid;
}

.btn-menu-burger {
  display: none;
}

.menu-mobile {
  display: none;
}

@media (min-width: 992px) {
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 992px) {
  #topMain {
    background-color: #fff;
    color: #687482;
    display: block;
  }

  #topMain li {
    display: inline-block !important;
    float: right;
    text-align: right;
    border-radius: 0;
    border-bottom: none;
  }

  #header #topNav #topMain>li>a {
    height: 40px !important;
    line-height: 40px !important;
    padding-top: 0;
    color: #687482 !important;
    font-weight: 400;
    background-color: transparent;
    font-size: .81em !important;
    display: block;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }

  .desktop-menu {
    display: none;
  }

  .btn-menu-burger {
    border: 0;
    position: absolute;
    margin: 14px;
    margin-right: 0;
    background: 0;
    display: block;
    z-index: 999;
  }

  .btn-menu-close {
    border: 0;
    position: absolute;
    margin: 14px;
    background: 0;
    display: block;
    color: #fff;
    padding: 10px;

  }

  .btn-menu-close mat-icon {
    -webkit-text-stroke: 5px;
  }

  .menu-mobile {
    display: block;
    background: #333;
    color: #fff;
    text-align: left;
    height: 325px;
    position: fixed;
    width: 100%;
    z-index: 999;
  }

  .menu-mobile ul {
    padding: 25px;
    list-style: none;
  }

  .menu-mobile ul li {
    margin: 13px;
    font-size: 15px;
    margin-left: 0;
  }
}
