<app-header [auth]="true"></app-header>
<div class="wrapper">
    <section class="page-header page-header-xs" id="Reg">
        <div class="container">
          <div class="row">
            <h1>استمارة حجز ارض</h1>
            <h1>&nbsp;-&nbsp;
              <span>قطع أراضي الأكثر تمييز</span>
            </h1>
          </div>
        </div>
      </section>
    <div class="container">
      <div class="col-12">
        <div class="w-100">
          <h3>تمت العمليه بنجاح</h3>
        </div>
      </div>
      <h4 class="text-center">New 101000101</h4>
      <h4 class="text-center mt-3">برجاء نسخ رقم العمليه لاستخدامه لاحقا في الاستعلام</h4>


      <div class="text-center">
        <button (click)="step4Next()" class="btn green pointer nextbtn">الرجوع للصفحه الرئيسيه  </button>
        <button (click)="print()" class="btn green-bg pointer white nextbtn mr-3">اطبع الاستماره</button>
      </div>
    </div>

  </div>
