<app-header [auth]="true"></app-header>
<div class="wrapper">
  <section class="page-header page-header-xs" id="Reg">
    <div class="container">
      <div class="row">
        <h1>الشروط والأحكام</h1>

      </div>

    </div>
  </section>
  <section class="mb-5" style="padding: 30px">
    <div class="container">
      <div class="row m-0">


      <div class="row m-0">
        <div class="cond">
          <p>
            1. يقر المتقدم للحجز باطلاعه على كراسة الشروط وعلمه بكل ما جاء بها وقبوله لكافة الاشتراطات الموجودة بها.
          </p>
          <p>
            2. يقر المتقدم للحجز باطلاعه على الشروط والاحكام الخاصة بالحجز الإلكتروني وعلمه وقبوله لها.
          </p>
          <p>
            3. يقر المتقدم للحجز بمسئولياته الكاملة على الحفاظ على اسم المستخدم وكلمة السر الخاصة به على الموقع الالكتروني. وكذلك مسئولياته
            الكاملة على كافة الاحداث التي تتم من خلال اسم المستخدم الممنوح له.
          </p>
          <p>
            4. تعديل بيانات حجز الأراضي مسموح به اثناء الادخال فقط قبل ارسال طلب التسجيل.
          </p>
        </div>

        <button [routerLink]="['/step1/', localStorageAlice.getItem('chosenLand')]" class="btn green-bg white green-border mt-4">اوافق علي الشروط و الاحكام</button>


      </div>
    </div>
    </div>
  </section>
</div>
