<app-header [auth]="true"></app-header>
<div class="wrapper">
  <section class="page-header page-header-xs" id="Reg">
    <div class="container">
      <div class="row">
        <h1>تفاصيل المشروع</h1>
        <h1>&nbsp;-&nbsp;
          <span>قطع أراضي الأكثر تمييز</span>
        </h1>
      </div>

    </div>
  </section>
  <section class="mb-5" style="padding: 30px">
    <div class="container">
      <div class="row m-0">
        <div class="col-md-7 col-sm-7">
          <div class="heading-title heading-border">
            <h2>
              <a>قطع أراضي الأكثر تمييز</a>
            </h2>
            <ul class="list-inline categories m-0">
              <a class="green pointer">أراضى</a>
            </ul>
            <div class="mt-2">
            <!-- <button class="btn extract">أستخرج رقم الاستماره</button> -->

          </div>
          </div>

          <p>قطع أراضي" عدد (891) بمدن( القاهرة الجديدة - الشروق - دمياط الجديدة - العبور - أسوان الجديدة - بدر - أكتوبر - الشيخ
            زايد - بني سويف الجديدة - برج العرب الجديدة - العاشر من رمضان - سوهاج الجديدة - 15 مايو)</p>

          <br>
        </div>
        <div class="col-md-5 col-sm-5 pl-0">
          <img src="../../assets/img/reserve-details.png" class="w-100" alt="">
          <div class="reserve-wrapper">
            <button routerLink="/step1" class="btn green-bg white green-border mr-3">احجز الآن</button>
          </div>
        </div>
      </div>
      <div class="row m-0">
        <div class="cond">
          <h3>الشروط والأحكام</h3>
          <p>
            1. يقر المتقدم للحجز باطلاعه على كراسة الشروط وعلمه بكل ما جاء بها وقبوله لكافة الاشتراطات الموجودة بها.
          </p>
          <p>
            2. يقر المتقدم للحجز باطلاعه على الشروط والاحكام الخاصة بالحجز الإلكتروني وعلمه وقبوله لها.
          </p>
          <p>
            3. يقر المتقدم للحجز بمسئولياته الكاملة على الحفاظ على اسم المستخدم وكلمة السر الخاصة به على الموقع الالكتروني. وكذلك مسئولياته
            الكاملة على كافة الاحداث التي تتم من خلال اسم المستخدم الممنوح له.
          </p>
          <p>
            4. تعديل بيانات حجز الأراضي مسموح به اثناء الادخال فقط قبل ارسال طلب التسجيل.
          </p>
        </div>
        <div class="cond w-100">
          <h3 style="color :#ff4848">تنويه </h3>
          <p>
            1 - تم تعديل البند رقم (8) فى الأشتراطات العامة بكراسة الشروط لتصبح المهلة لاستخراج التراخيص اللازمة للبناء (5 سنوات) بدلا
            من (3 سنوات) .
          </p>
          <p>
            2 – المساحة قابلة للعجز أو الزيادة و العبرة بمحضر الاستلام .

          </p>
        </div>
        <img src="../../assets/img/reserve-img.jpeg" class="img-fluid mt-3" alt="">
      </div>
    </div>
  </section>
</div>
