.box-static {
  text-align: right;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 30px !important;
  /* border-top: 3px solid transparent; */
  border-radius: 3px;
}

.box-static.box-border-top {
  border-top: 3px solid #61a844;
}

.fs-20 {
  font-size: 20px !important;
}

h2 {
  margin: 0px 0px 32px;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.box-static .box-title {
  border-bottom: 1px solid #f7f7f9;
}

form label {
  font-weight: normal;
}

.form-control {
  box-shadow: none;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-image: initial;
  border-radius: 3px;
  height: 40px;
}

button:disabled,
button[disabled] {
  border: 1px solid #cccccc;
  background-color: #cccccc !important;
  color: #666666 !important;
}

div.cap img {
  width: 60%;
  margin: 5px 0 20px 0;
}

div.cap {
  position: relative;
}

div.cap input {
  position: absolute;
  width: 28px;
  top: 30px;
  right: 14px;
  height: 28px;
}

.newLine {
  display: none;
}

#password.show{
  background: url(../../assets/img/show.png) no-repeat scroll 7px 10px;
  padding-left: 30px;
  background-size: 15px;
}
#password.hide{
  background: url(../../assets/img/hide.png) no-repeat scroll 7px 10px;
  padding-left: 30px;
  background-size: 15px;
}

@media (max-width: 1200px) {
  div.cap input {
    width: 22px;
    top: 25px;
    right: 12px;
    height: 22px;
  }
}

@media (max-width: 992px) {
  .newLine {
    display: block;
  }
  div.form-tip.pt-10{
    text-align: right;
  }
}

@media (min-width: 992px) {

  .offset-md-3 {
    margin-right: 25%;
    margin-left: 0px;
  }

  .col-md-6 {
    width: 50%;
  }
}
