<form class="wrapper" [formGroup]="timerForm" (ngSubmit)="onsubmit()">
  <mat-form-field>
    <input
      matInput
      formControlName="date"
      [matDatepicker]="date"
      placeholder="Set date"
    />
    <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
    <mat-datepicker #date></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      formControlName="time"
      [ngxTimepicker]="time"
      placeholder="Set time"
    />
    <ngx-material-timepicker #time></ngx-material-timepicker>
  </mat-form-field>
  <div class="slider-wrapper">
    <p>Show the button</p>
    <mat-slide-toggle
      #sliderToggle
      class="ml-1"
      color="warn"
      (change)="timeService.setActive($event.checked)"
      [checked]="timer?.active"
    >
    </mat-slide-toggle>
  </div>
  <button class="btn green-bg white green-border" mat-button type="submit">
    Set Date
  </button>
</form>
