@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.wrapper {
  direction: ltr !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  flex-direction: column;
}
.slider-wrapper {
  display: flex;

}
p {
  text-align: center;
  margin-top: 40px;
}

:ng-deep {
  .wrapper {
    .mat-form-field-flex {
      display: flex;
    align-items: center;
    gap: 20px;
    }
  }
}
