<div>
  <br />

  <p>  بص يا خالد يا حبيبي، الزرار دايما هيكون مخفي</p>
  <br />
  لو انت عايز
  <h3>تظهره</h3>
  في وقت معين، دخل الوقت و دوس موافق
  <form class="wrapper" [formGroup]="timerForm" (ngSubmit)="onsubmit()">
    <mat-form-field>
      <input
        matInput
        formControlName="date"
        [matDatepicker]="date"
        placeholder="Set date"
      />
      <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #date></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        formControlName="time"
        [ngxTimepicker]="time"
        [format]="24"
        placeholder="Set time"
      />
      <ngx-material-timepicker #time></ngx-material-timepicker>
    </mat-form-field>
    <button class="btn green-bg white green-border" mat-button type="submit">
      موافق
    </button>
  </form>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <p>
    انما انت لو عايز تقفله علي طول دوس علي الزورار ده
  </p>
  <button (click)="forceHide()" class="btn green-bg white green-border" mat-button >اغلق درج المعالق(اقفل الزرار يعني)</button>
</div>
