<app-header [auth]="true"></app-header>
<div class="wrapper">
  <section class="page-header page-header-xs" id="Reg">
    <div class="container">
      <div class="row">
        <h1>استمارة حجز ارض</h1>
        <h1>&nbsp;-&nbsp;
          <span>قطع أراضي الأكثر تمييز</span>
        </h1>
      </div>
    </div>
  </section>
  <div class="container">
    <section class="stepA">
      <div class="row m-0">
        <div class="col-6">
          <h3 class="font-16">الرقم القومي</h3>
          <h4 class="cell-detail h-40p">{{natId}}</h4>
          <div class="form-group mt-3">
            <label for="app-name">اسم المتقدم طبقا للرقم القومي*</label>
            <input type="text" name="appName" class="form-control h-40p" id="app-name" placeholder="{{name}}">
          </div>
          <div class="form-group mt-3">
            <label for="app-no">الرقم المطبوع اسفل الصورة بالرقم القومي*</label>
            <input type="text" class="form-control h-40p" id="app-no" placeholder="{{noPrintedBelowImgInID}}">
          </div>
        </div>
        <div class="col-6">
          <h3 class="font-16">تاريخ الميلاد</h3>
          <h4 class="cell-detail h-40p">{{birthdayDate}}</h4>
          <div class="form-group mt-3">
            <label for="nIDImg">ارفاق صورة الرقم القومي</label>
            <input type="file" class="form-control-file" id="nIDImg">
            <p style="font-size: 12px;" class="m-0">برجاء ارفاق صورة وجهي البطاقه في نفس الملف</p>
            <p style="font-size: 12px;" class="m-0">يسمح فقط بالملفات من نوع Jpg, Jpeg, pdf بحد اقصي ٣ ميجا بايت</p>
          </div>
          <img src="../../assets/img/nID.jpg" alt="">
        </div>

      </div>
    </section>

    <section class="stepB">
      <h4 class="green-bg white py-3 pl-2">بيانات سداد جدية الحجز و طريقة السداد - البيانات اختياري</h4>
      <form [formGroup]="step1Form">
        <div class="row mt-3 mx-0">

          <div class="col-6">
            <div class="form-group mt-3">
              <label for="paymentMethods">طريقةالسداد</label>
              <select id="paymentMethods" name="paymentMethods" class="form-control" (change)="onPaymentMethodsChanges($event)" formControlName="paymentMethods">
                <option value="0">برجاء الاختيار</option>
                <option value="1">تحويل داخلي ACH/Swift</option>
                <option value="2">تحويل خارجي</option>
                <option value="3">تحويل داخلي من فروع بنك التعمير</option>
              </select>
            </div>

            <div class="form-group mt-3">
              <label for="paymentNo">رقم مستند السداد </label>
              <input id="paymentNo" type="text" name="resNum" class="form-control h-40p" placeholder="" formControlName="paymentNo">
              <small>  يرجي عدم ادخال رموز ما عدا '/' و '-'</small>
            </div>

            <div class="form-group mt-3">
              <label for="bankBranchName">الفرع</label>
              <input id="bankBranchName" type="text" name="resNum" class="form-control h-40p" placeholder="" formControlName="bankBranchName">
            </div>

          </div>

          <div class="col-6">
            <div class="form-group mt-3">
              <label for="paymentDate">تاريخ ايصال السداد </label>
              <input id="paymentDate" formControlName="paymentDate" class="form-control h-40p" placeholder="" name="dp" [(ngModel)]="model"
                (ngModelChange)="getdp($event)" (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker">
            </div>

            <div class="form-group mt-3">
              <label for="bankName">البنك</label>
              <select *ngIf="payment === 'intern'" name="first" class="form-control" id="bankName" formControlName="bankName">
                <option *ngFor="let payWay of payWayList">{{payWay.name}}</option>
              </select>
              <select *ngIf="payment === 'extern'" name="first" class="form-control" id="bankName" formControlName="bankName">
                <option value="0">برجاء الاختيار</option>
                <option value="1">بنك خارج مصر</option>
              </select>
              <h4 *ngIf="payment === 'hdb'">بنك التعمير و الاسكان</h4>
            </div>

            <div class="form-group mt-5">
              <label for="nIDImg">ارفاق صورة مستند السداد</label>
              <input type="file" class="form-control-file" id="nIDImg">
              <p style="font-size: 12px;" class="m-0">يسمح فقط بالملفات من نوع Jpg, Jpeg, pdf بحد اقصي ٣ ميجا بايت</p>
            </div>
          </div>

        </div>
      </form>
    </section>

    <section class="stepB">
      <h4 class="green-bg white py-3 pl-2"> بيانات شخصيه</h4>
      <div class="row mt-3 mx-0">
        <div class="col-6">
          <h3 class="font-16">بلد الجنسيه </h3>
          <h4 class="cell-detail h-40p">مصر</h4>

          <h3 class="font-16 mt-4">رقم التليفون </h3>
          <h4 class="cell-detail h-40p">{{phoneNo}}</h4>

          <h3 class="font-16 mt-4">محل الاقامه </h3>
          <h4 class="cell-detail h-40p">مصر</h4>

          <h3 class="font-16 mt-4">العنوان </h3>
          <h4 class="cell-detail h-40p" style="line-height: 21px;">{{address}}</h4>

          <h3 class="font-16 mt-4">اسم الزوج/الزوجه طبقا للرقم القومي </h3>
          <h4 class="cell-detail h-40p">{{partnerName}}</h4>

          <h3 class="font-16 mt-4">صورة الرقم القومي </h3>
          <h4 class="cell-detail h-40p">file.jpg </h4>
        </div>
        <div class="col-6">
          <h3 class="font-16">رقم المحمول </h3>
          <h4 class="cell-detail h-40p">{{phoneNo}}</h4>

          <h3 class="font-16 mt-4">عنوان البريد الالكتروني </h3>
          <h4 class="cell-detail h-40p">{{mail}}</h4>

          <h3 class="font-16 mt-4">المحافظة </h3>
          <h4 class="cell-detail h-40p">الشرقيه</h4>

          <h3 class="font-16 mt-4">الحاله الاجتماعيه</h3>
          <h4 class="cell-detail h-40p">{{socialStuts}}</h4>

          <h3 class="font-16 mt-4">الرقم القومي للزوج / الزوجه </h3>
          <h4 class="cell-detail h-40p">{{partnerId}}</h4>

          <h3 class="font-16 mt-4">صورة الرقم القومي للزوج / الزوجه</h3>
          <h4 class="cell-detail h-40p">&nbsp;</h4>
        </div>

      </div>
    </section>

    <button (click)="step1Next()" [disabled]="!payWayOption || !model || !resAmount || !resNum || !resAmountTrue" class="btn green-bg white nextbtn">التالي</button>

  </div>

</div>
