<app-header [auth]="logged"></app-header>
<div>
  <img class="img-fluid" alt="Responsive image" src="../../assets/img/slider.png" alt="">
</div>
<section class="page-header page-header-xs">
  <div class="container">
    <h1>المشاريع المتاحة</h1>
  </div>
</section>

<section id="projects">
  <div class="container">
    <div class="portfolio-gutter">
      <ul class="nav nav-pills mb-60">
        <li class="active">
          <a class="pointer">كل المشاريع</a>
        </li>
        <li>
          <a class="pointer">وحدات سكنية</a>
        </li>
        <li>
          <a class="pointer">أراضي</a>
        </li>
      </ul>
    </div>
    <div id="projectsDiv" class="mix-grid">
      <div>
        <br>
        <div class="row mix mix_all" style="display: block;  opacity: 1;">
          <div class="col-md-7">
            <img src="../../assets/img/thumb1.jpeg" class="img-fluid w-100" alt="Responsive image">
          </div>
          <div class="col-md-5">
            <h2 style="margin-bottom: 32px">
              <a class="pointer">قطع أراضي الأكثر تمييز</a>
            </h2>
            <a class="green pointer">أراضى</a>
            <div class="mt-30" style="margin-top: 32px">
              <p>قطع أراضي" عدد (891) بمدن( القاهرة الجديدة - الشروق - دمياط الجديدة - العبور - أسوان الجديدة - بدر - أكتوبر
                - الشيخ زايد - بني سويف الجديدة - برج العرب الجديدة - العاشر من رمضان - سوهاج الجديدة - 15 مايو)</p>
              <ul class="portfolio-detail-list list-unstyled m-0 font-weight-lighter">

                <li>
                  <img class="calender" src="../../assets/img/calender.png" alt="">
                  <span class="lighter">تاريخ فتح باب التقدم:</span>
                  <span class="lighter">07 أبريل 2019</span>
                </li>
                <li>
                  <img class="calender" src="../../assets/img/calender.png" alt="">
                  <span class="lighter">تاريخ نهاية الحجز :</span>
                  <span class="lighter">09 مايو 2019</span>
                </li>

              </ul>
              <br>
              <a class="btn btn-teal btn-lg fs-17 pointer" target="_bidReq"> كراسة الشروط</a>
              <a style="margin-right: 20px;" (click)="checkAndGo()" class="btn green-bg white btn-lg fs-17 pointer">أرغب في التقدم</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>

    <div id="projectsDiv" class="mix-grid">
      <div>
        <br>
        <div class="row mix mix_all" style="display: block;  opacity: 1;">
          <div class="col-md-7">
            <img src="../../assets/img/thumb2.jpeg" class="img-fluid w-100" alt="Responsive image">
          </div>
          <div class="col-md-5">
            <h2 style="margin-bottom: 32px">
              <a class="pointer">مشروع الأراضي المتميزة
              </a>
            </h2>
            <a class="green pointer">أراضى</a>
            <div class="mt-30" style="margin-top: 32px">
              <p>قطع أراضي إسكان متميزة بعدد(1091) قطعة بمدن (برج العرب/سوهاج الجديدة/السادات/العاشر /أكتوبر الجديدة/اسوان الجديدة/بدر/أسيوط
                الجديدة/قنا الجديدة/طيبة الجديدة/غرب قنا/غرب أسيوط/الفيوم الجديدة)</p>
              <ul class="portfolio-detail-list list-unstyled m-0 font-weight-lighter">

                <li>
                  <img class="calender" src="../../assets/img/calender.png" alt="">
                  <span class="lighter">تاريخ فتح باب التقدم:</span>
                  <span class="lighter">07 أبريل 2019</span>
                </li>
                <li>
                  <img class="calender" src="../../assets/img/calender.png" alt="">
                  <span class="lighter">تاريخ نهاية الحجز :</span>
                  <span class="lighter">07 مايو 2019</span>
                </li>

              </ul>
              <br>
              <a class="btn btn-teal btn-lg fs-17 pointer" target="_bidReq"> كراسة الشروط</a>
              <a style="margin-right: 20px;" class="btn green-bg white btn-lg fs-17 pointer">أرغب في التقدم</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<div class="alert alert-transparent bordered-bottom m-0">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-12">
        <h3>للمزيد من المعلومات،
          <a style="color: #0074d9 !important;" class="text-blue pointer">شاهد الفيديو التوضيحي</a> أو إتصل بنا على
          <span>
            <b>
              <a class="green">19995</a>
            </b>
          </span>
          وسوف نقوم بالرد عليكم</h3>
        <h4>بنك التعمير والإسكان....بنك كبير والأول في التعمير</h4>
      </div>
    </div>
  </div>
</div>

<br>

