<app-header [auth]="logged"></app-header>
<div>
  <img class="img-fluid" alt="Responsive image" src="../../assets/img/slider.png" alt="">
</div>
<section class="page-header page-header-xs">
  <div class="container">
    <h1>المشاريع المتاحة</h1>
  </div>
</section>

<section id="projects">
  <div class="container">
    <div class="portfolio-gutter">
      <ul class="nav nav-pills mb-60">
        <li class="active">
          <a class="pointer">كل المشاريع</a>
        </li>
        <li>
          <a class="pointer">وحدات سكنية</a>
        </li>
        <li>
          <a class="pointer">أراضي</a>
        </li>
      </ul>
    </div>
    <div id="projectsDiv" class="mix-grid">
      <div>
        <br>
        <div class="row mix mix_all" style="display: block;  opacity: 1;">
          <div class="col-md-7">
            <img src="../../assets/img/thumb22.jpeg" class="img-fluid w-100" alt="Responsive image">
          </div>
          <div class="col-md-5">
            <h2 style="margin-bottom: 32px">
              <a class="pointer">مشروع جنه السكنى م 5</a>
            </h2>
            <a class="green pointer">وحدات سكنية</a>
            <div class="mt-30" style="margin-top: 32px">
              <p>مشروع جنه السكنى" بعدد (3336) وحدة سكنية بمدن ( 6اكتوبر ـ الشيخ زايد ـ القاهرة الجديدة ـ دمياط الجديدة ـ المنصورة الجديدة ) بمساحات تتراوح من 100م2 الى 150م2 ومحاط بسور ليحقق الخصوصية والرفاهية"</p>
              <ul class="portfolio-detail-list list-unstyled m-0 font-weight-lighter">

                <li>
                  <img class="calender" src="../../assets/img/calender.png" alt="">
                  <span class="lighter">تاريخ فتح باب التقدم:</span>
                  <span class="lighter"> 24 سبتمبر 2019</span>
                </li>
                <li>
                  <img class="calender" src="../../assets/img/calender.png" alt="">
                  <span class="lighter">تاريخ نهاية الحجز :</span>
                  <span class="lighter">14 أكتوبر 2019</span>
                </li>

              </ul>
              <br>
              <a class="btn btn-teal btn-lg fs-17 pointer" target="_bidReq"> كراسة الشروط</a>
              <a style="margin-right: 20px;" class="btn green-bg white btn-lg fs-17 pointer">أرغب في التقدم</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div id="projectsDiv" class="mix-grid">
      <div>
        <br>
        <div class="row mix mix_all" style="display: block;  opacity: 1;">
          <div class="col-md-7">
            <img src="../../assets/img/thumb33.jpeg" class="img-fluid w-100" alt="Responsive image">
          </div>
          <div class="col-md-5">
            <h2 style="margin-bottom: 32px">
              <a class="pointer">سكن مصر م 4</a>
            </h2>
            <a class="green pointer">وحدات سكنية</a>
            <div class="mt-30" style="margin-top: 32px">
              <p>وحدات كاملة التشطيب ضمن محور "سكن مصر" بعدد (2240) وحدة
                سكنية بمساحات من 106 حتى 133 م2 بمدن (6 أكتوبر الجديدة ـ القاهرة الجديدة ـ المنيا الجديدة ــ العبور ـ بدر ـ غرب قنا ــ المنصورة الجديدة ) وبنموذج معماري مميز كما أنه سيحاط بسورشجرى لتوفير الخصوصية .</p>
              <ul class="portfolio-detail-list list-unstyled m-0 font-weight-lighter">

                <li>
                  <img class="calender" src="../../assets/img/calender.png" alt="">
                  <span class="lighter">تاريخ فتح باب التقدم:</span>
                  <span class="lighter"> 24 سبتمبر 2019</span>
                </li>
                <li>
                  <img class="calender" src="../../assets/img/calender.png" alt="">
                  <span class="lighter">تاريخ نهاية الحجز :</span>
                  <span class="lighter">16 أكتوبر 2019</span>
                </li>

              </ul>
              <br>
              <a class="btn btn-teal btn-lg fs-17 pointer" target="_bidReq"> كراسة الشروط</a>
              <a style="margin-right: 20px;" class="btn green-bg white btn-lg fs-17 pointer">أرغب في التقدم</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>

    <div id="projectsDiv" class="mix-grid">
      <div>
        <br>
        <div class="row mix mix_all" style="display: block;  opacity: 1;">
          <div class="col-md-7">
            <img src="../../assets/img/thumb1.jpeg" class="img-fluid w-100" alt="Responsive image">
          </div>
          <div class="col-md-5">
            <h2 style="margin-bottom: 32px">
              <a class="pointer">قطع أراضي أكثر تميزاً م 3</a>
            </h2>
            <a class="green pointer">أراضى</a>
            <div class="mt-30" style="margin-top: 32px">
              <p>قطع اراضى اسكان اكثر تميزا كاملة المرافق بعدد(871) قطعة ارض سكنية بمدن (القاهرة الجديدة ـ 6 اكتوبر ـ العبور
                ـ دمياط الجديدة ـ بدر ـ العاشر من رمضان ـ اسوان الجديدة ـ المنيا الجديدة) بمساحات تتراوح من(369م2 ألى 1434م2).</p>
              <ul class="portfolio-detail-list list-unstyled m-0 font-weight-lighter">

                <li>
                  <img class="calender" src="../../assets/img/calender.png" alt="">
                  <span class="lighter">تاريخ فتح باب التقدم:</span>
                  <span class="lighter">17 سبتمبر 2019</span>
                </li>
                <li>
                  <img class="calender" src="../../assets/img/calender.png" alt="">
                  <span class="lighter">تاريخ نهاية الحجز :</span>
                  <span class="lighter"> 10 أكتوبر 2019</span>
                </li>

              </ul>
              <br>
              <a class="btn btn-teal btn-lg fs-17 pointer" target="_bidReq"> كراسة الشروط</a>
              <a style="margin-right: 20px;" (click)="checkAndGo()" class="btn green-bg white btn-lg fs-17 pointer">أرغب في التقدم</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>


  </div>
</section>
<br>
<div class="alert alert-transparent bordered-bottom m-0">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-12">
        <h3>للمزيد من المعلومات،
          <a style="color: #0074d9 !important;" class="text-blue pointer">شاهد الفيديو التوضيحي</a> أو إتصل بنا على
          <span>
            <b>
              <a class="green">19995</a>
            </b>
          </span>
          وسوف نقوم بالرد عليكم</h3>
        <h4>بنك التعمير والإسكان....بنك كبير والأول في التعمير</h4>
      </div>
    </div>
  </div>
</div>

<br>
