<app-header [auth]="logged"></app-header>
<div>
  <img
    class="img-fluid"
    alt="Responsive image"
    src="../../assets/img/slider.png"
    alt=""
  />
</div>
<section class="page-header page-header-xs">
  <div class="container">
    <h1>المشاريع المتاحة</h1>
  </div>
</section>

<section id="projects">
  <div class="container">
    <div class="portfolio-gutter">
      <ul class="nav nav-pills mb-60">
        <li class="active">
          <a class="pointer">كل المشاريع</a>
        </li>
        <li>
          <a class="pointer">وحدات سكنية</a>
        </li>
        <li>
          <a class="pointer">أراضي</a>
        </li>
      </ul>
    </div>
    <div id="projectsDiv" class="mix-grid">
      <div>
        <br />
        <div class="row mix mix_all" style="display: block; opacity: 1;">
          <div class="col-md-7">
            <img
              src="../../assets/img/land-1.jpeg"
              class="img-fluid w-100"
              alt="Responsive image"
            />
          </div>
          <div class="col-md-5">
            <h2 style="margin-bottom: 32px;">
              <a class="pointer">قطع أراضي مميزة مرحلة رابعة</a>
            </h2>
            <a class="green pointer">أراضى</a>
            <div class="mt-30" style="margin-top: 32px;">
              <p>
                تتجه الهيئة الي توفير قطع ارضى اسكان متميز كاملة المرافق فقد تم
                إعداد (1663) قطعة ارض سكنية بمدن ( 6أكتوبر الجديدة - بدر -
                العاشر من رمضان - السادات - برج العرب الجديدة - الفيوم الجديدة -
                بني سويف الجديدة - أسيوط الجديدة - غرب أسيوط سوهاج الجديدة - غرب
                قنا - طيبه الجديدة - اسوان الجديدة) بمساحات تتراوح من(192م2
                الى1200 م2).
              </p>
              <ul
                class="portfolio-detail-list list-unstyled m-0 font-weight-lighter"
              >
                <li>
                  <img
                    class="calender"
                    src="../../assets/img/calender.png"
                    alt=""
                  />
                  <span class="lighter">تاريخ فتح باب التقدم:</span>
                  <span class="lighter"> 28 يوليو 2020</span>
                </li>
                <li>
                  <img
                    class="calender"
                    src="../../assets/img/calender.png"
                    alt=""
                  />
                  <span class="lighter">تاريخ نهاية الحجز :</span>
                  <span class="lighter"> 10 سبتمبر 2020</span>
                </li>
              </ul>
              <br />
              <a class="btn btn-teal btn-lg fs-17 pointer" target="_bidReq">
                كراسة الشروط</a
              >
              <a
                style="margin-right: 20px;"
                (click)="checkAndGo(0)"
                class="btn green-bg white btn-lg fs-17 pointer"
                >أرغب في التقدم</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div id="projectsDiv" class="mix-grid">
      <div>
        <br />
        <div class="row mix mix_all" style="display: block; opacity: 1;">
          <div class="col-md-7">
            <img
              src="../../assets/img/land-2.jpeg"
              class="img-fluid w-100"
              alt="Responsive image"
            />
          </div>
          <div class="col-md-5">
            <h2 style="margin-bottom: 32px;">
              <a class="pointer">قطع أراضي مميزة مرحلة خامسة (اخميم الجديدة)</a>
            </h2>
            <a class="green pointer">أراضى</a>
            <div class="mt-30" style="margin-top: 32px;">
              <p>
                تتجه الهيئة الي توفير قطع ارضى اسكان متميز كاملة المرافق فقد تم
                إعداد (56) قطعة ارض سكنية بمدينة (اخميم الجديدة) بمساحات تتراوح
                من(286م2 الى380) م
              </p>
              <ul
                class="portfolio-detail-list list-unstyled m-0 font-weight-lighter"
              >
                <li>
                  <img
                    class="calender"
                    src="../../assets/img/calender.png"
                    alt=""
                  />
                  <span class="lighter">تاريخ فتح باب التقدم:</span>
                  <span class="lighter"> 28 يوليو 2020</span>
                </li>
                <li>
                  <img
                    class="calender"
                    src="../../assets/img/calender.png"
                    alt=""
                  />
                  <span class="lighter">تاريخ نهاية الحجز :</span>
                  <span class="lighter"> 10 سبتمبر 2020</span>
                </li>
              </ul>
              <br />
              <a class="btn btn-teal btn-lg fs-17 pointer" target="_bidReq">
                كراسة الشروط</a
              >
              <a
                style="margin-right: 20px;"
                class="btn green-bg white btn-lg fs-17 pointer"
                >أرغب في التقدم</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />

    <div id="projectsDiv" class="mix-grid">
      <div>
        <br />
        <div class="row mix mix_all" style="display: block; opacity: 1;">
          <div class="col-md-7">
            <img
              src="../../assets/img/land-3.jpeg"
              class="img-fluid w-100"
              alt="Responsive image"
            />
          </div>
          <div class="col-md-5">
            <h2 style="margin-bottom: 32px;">
              <a class="pointer">قطع أراضي اكثر تميز مرحلة رابعة</a>
            </h2>
            <a class="green pointer">أراضى</a>
            <div class="mt-30" style="margin-top: 32px;">
              <p>
                قطع ارضى اسكان اكثر تميزا كاملة المرافق فقد تم إعداد (632) قطعة
                ارض سكنية بمدن (القاهرة الجديدة - العبور - بدر - العاشر من رمضان
                - 15مايو - دمياط الجديدة - برج العرب الجديدة - سوهاج الجديدة -
                طيبه - اسوان الجديدة ) بمساحات تتراوح من( 294م2الى 2337 م2).
              </p>
              <ul
                class="portfolio-detail-list list-unstyled m-0 font-weight-lighter"
              >
                <li>
                  <img
                    class="calender"
                    src="../../assets/img/calender.png"
                    alt=""
                  />
                  <span class="lighter">تاريخ فتح باب التقدم:</span>
                  <span class="lighter"> 28 يوليو 2020</span>
                </li>
                <li>
                  <img
                    class="calender"
                    src="../../assets/img/calender.png"
                    alt=""
                  />
                  <span class="lighter">تاريخ نهاية الحجز :</span>
                  <span class="lighter">17 سبتمبر 2020</span>
                </li>
              </ul>
              <br />
              <a class="btn btn-teal btn-lg fs-17 pointer" target="_bidReq">
                كراسة الشروط</a
              >
              <a
                style="margin-right: 20px;"
                (click)="checkAndGo(1)"
                class="btn green-bg white btn-lg fs-17 pointer"
                >أرغب في التقدم</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />
    <br />
  </div>
</section>
<br />
<div class="alert alert-transparent bordered-bottom m-0">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-12">
        <h3>
          للمزيد من المعلومات،
          <a style="color: #0074d9 !important;" class="text-blue pointer"
            >شاهد الفيديو التوضيحي</a
          >
          أو إتصل بنا على
          <span>
            <b>
              <a class="green">19995</a>
            </b>
          </span>
          وسوف نقوم بالرد عليكم
        </h3>
        <h4>بنك التعمير والإسكان....بنك كبير والأول في التعمير</h4>
      </div>
    </div>
  </div>
</div>

<br />
